<div class="container-fluid">
    <h2>Детальна інформація про рейс</h2>

    <hr class="colorgraph">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-sm-4 col-xs-4">
                <label>Пункт відправлення:</label>
                <h4><span>Місто: </span>{{tour.AirportFrom.City}}</h4>
                <h4><span>Країна: </span>{{tour.AirportFrom.Country}}</h4>
                <h5><span>Аеропорт: </span>{{tour.AirportFrom.Name}}</h5>
                <h5><span>Дата відправлення: </span>{{tour.timeStart }} {{tour.dateStartR }}({{tour.dayStart}})</h5>
            </div>
            <div class=" col-sm-1 col-xs-1">

            </div>
            <div class=" col-sm-6 col-xs-6">
                <label>Пункт прибуття:</label>
                <h4><span>Місто: </span>{{tour.AirportTo.City}}</h4>
                <h4><span>Країна: </span>{{tour.AirportTo.Country}}</h4>
                <h5><span>Аеропорт: </span>{{tour.AirportTo.Name}}</h5>
                <h5><span>Дата прибуття: </span>{{tour.timeFinish }} {{tour.dateFinishR }}({{tour.dayFinish}})</h5>
            </div>

        </div>

        <div><h5>Модель літака: {{tour.Plane.Name}}</h5></div>
        <div><h3>Ціна: {{tour.Price}}$</h3></div>
        <button type="button" class="btn btn-primary col-md-2"
                ng-click="">Замовити квиток
        </button>
    </div>

    <hr class="colorgraph">


</div>
</div>


<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <label>Зареєстрований багаж:</label>
                <md-radio-group ng-model="tourDetails.ryt">
                    <md-radio-button value="0" >Жодної</md-radio-button>
                    <md-radio-button value="27">23 кг(+27$)</md-radio-button>
                    <md-radio-button value="38">32 кг(+38$)</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-3 col-sm-3">
                <label>Ручна поклажа:</label>
                <md-radio-group ng-model="tourDetails.jbgk">
                    <md-radio-button value="0">Маленька(безкоштовна)</md-radio-button>
                    <md-radio-button value="14">Велика(+14$)</md-radio-button>
                </md-radio-group>
            </div>
            <div class="col-md-3 col-sm-3">
                <label>Метод Реєстрації:</label>
                <md-radio-group ng-model="tourDetails.uy">
                    <md-radio-button value="0" >Онлайн</md-radio-button>
                    <md-radio-button value="10">Аеропорт(+10$)</md-radio-button>
                </md-radio-group>
            </div>
        </div>
        <div class="row">
                <button type="button" class="btn btn-default col-md-2"  data-toggle="modal" data-target="#plaseChooseModalView"
                        ng-click="getTourDetails()">Обрати місця
                </button>
        </div>

        <choose-place></choose-place>

        <div class="col-md-4">

            <div ng-repeat="actPlace in activePlacesList">
                <span>Пасажир {{($index + 1)}}</span>
                <h5>Місце: {{actPlace.value}}</h5>
                <hr>

            </div>
        </div>


        <hr class="colorgraph">
    </div>


</div>
