<div class="container-fluid">
    <h2>Детальна інформація про рейс</h2>

    <hr class="colorgraph">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-sm-4 col-xs-4">
                <label>Пункт відправлення:</label>
                <h4><span>Місто: </span>{{tour.AirportFrom.City}}</h4>
                <h4><span>Країна: </span>{{tour.AirportFrom.Country}}</h4>
                <h5><span>Аеропорт: </span>{{tour.AirportFrom.Name}}</h5>
                <h5><span>Дата відправлення: </span>{{tour.timeStart }} {{tour.dateStartR }}({{tour.dayStart}})</h5>
            </div>
            <div class=" col-sm-1 col-xs-1">

            </div>
            <div class=" col-sm-6 col-xs-6">
                <label>Пункт прибуття:</label>
                <h4><span>Місто: </span>{{tour.AirportTo.City}}</h4>
                <h4><span>Країна: </span>{{tour.AirportTo.Country}}</h4>
                <h5><span>Аеропорт: </span>{{tour.AirportTo.Name}}</h5>
                <h5><span>Дата прибуття: </span>{{tour.timeFinish }} {{tour.dateFinishR }}({{tour.dayFinish}})</h5>
            </div>

        </div>

        <div><h5>Модель літака: {{tour.Plane.Name}}</h5></div>
        <div><h3>Ціна: {{tour.Price}}$</h3></div>
        <button type="button" class="btn btn-primary col-md-2"
                ng-click="openOrderingForm()">Здійснити замовлення
        </button>
    </div>

    <hr class="colorgraph">


</div>
</div>


<div class="container-fluid" ng-if="ordering && isAuthorized">
    <div class="container-fluid">
        <div ng-repeat="passenger in allPassengers">

            <h3>{{($index + 1)}} Пасажир</h3>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <input type="text" placeholder="Ім'я" ng-model="passenger.name" class="form-control" required
                           maxlength="30">
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" placeholder="Прізвище" ng-model="passenger.surname" class="form-control" required
                           maxlength="30">
                </div>

            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group" style="padding-top: 10px;">
                        <label class="control-label col-sm-3">Стать:</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="{{passenger.id}}" id="femaleRadio" value="1"
                                           ng-model="passenger.gender">Жінка
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" name="{{passenger.id}}" id="maleRadio" ng-model="passenger.gender"
                                           value="0">Чоловік
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-if="tourSearchInfo.tourClass === 'Economy'">
                <div class="col-md-3 col-sm-3">
                    <label>Зареєстрований багаж:</label>
                    <md-radio-group ng-model="passenger.baggage.external">
                        <md-radio-button value="0">Жодної</md-radio-button>
                        <md-radio-button value="27">23 кг(+27$)</md-radio-button>
                        <md-radio-button value="38">32 кг(+38$)</md-radio-button>
                    </md-radio-group>
                </div>
                <div class="col-md-3 col-sm-3">
                    <label>Ручний багаж:</label>
                    <md-radio-group ng-model="passenger.baggage.inner">
                        <md-radio-button value="0">Маленька(безкоштовна)</md-radio-button>
                        <md-radio-button value="14">Велика(+14$)</md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <br>
        </div>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <label>Метод Реєстрації:</label>
                <md-radio-group ng-model="methodRegistration.value">
                    <md-radio-button value="0">Онлайн</md-radio-button>
                    <md-radio-button value="10">Аеропорт(+10$)</md-radio-button>
                </md-radio-group>
            </div>

            <button type="button" class="btn btn-default col-md-2" data-toggle="modal"
                    data-target="#plaseChooseModalView"
                    ng-click="getTourDetails()">Обрати місця
            </button>
        </div>


        <div class="row">
            <button type="button" class="btn btn-default col-md-2" ng-click="lastStep()">Продовжити</button>
        </div>



        <div ng-if="showCheckStep">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h3>Перевірити дані:</h3>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h3>Час до завершення замовлення квитків: {{counter | secondsToDateTime | date:'mm:ss'}}</h3>
                </div>
            </div>
            <div ng-repeat="pas in allPassengers">
                <h3>{{($index + 1)}} Пасажир</h3>
                <div class="row">
                    <div class="col-md-3">
                        <h4>Ініціали: {{pas.name}} {{pas.surname}}</h4>
                        <h5>Зареєстрований багаж:: {{tourSearchInfo.tourClass !== 'Economy' ? "Входить" : pas.baggage.externalValue}}</h5>
                        <h5>Ручний багаж: {{tourSearchInfo.tourClass !== 'Economy' ? "Входить" : pas.baggage.innerValue}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h4>Стать: {{pas.gender === 0 ? 'Чоловік' : 'Жінка' }}</h4>
                        <h5>Місце: {{pas.coordinateValue}}</h5>
                    </div>
                </div>
                <hr class="colorgraph">
            </div>

            <h4>Метод реєстрації {{methodRegisterValue}}</h4>
            <h4><label>Ціна: {{finishTourResult.Price}}$</label></h4>
        </div>

        <div ng-if="showCreditCard && showCheckStep">
            <div>
                <br>
                <button type="button" class="btn btn-default col-md-2" ng-click="cancel()">Відмінити</button>
                <br>
                <br>
                <br>
            </div>
            <div>
                <credit-card></credit-card>
            </div>
        </div>
        <div ng-if="!showCreditCard && showCheckStep">
            <button type="button" class="btn btn-default col-md-2" ng-click="orderTickets()">Забронювати</button>
            <button type="button" class="btn btn-default col-md-2" ng-click="cancel()">Відмінити</button>
        </div>



    </div>


</div>

<choose-place></choose-place>

