<div class="container-fluid">
    <h2>Статус рейсу</h2>
    <hr class="colorgraph">
    <div class="container-fluid">
        <div class="col-md-3 col-sm-4" id="departmentDiv">
            <label for="airportSelectFrom">Виберіть пункт відправлення:</label>

            <select class="form-control" id="airportSelectFrom" ng-model="tourStatusParams.airportFromId">
                <option value="" selected>Виберіть пункт відправлення</option>
                <option ng-repeat="airport in airports" value="{{airport.AirportId}}">{{airport.Name}}</option>
            </select>
        </div>

        <div class="col-md-3 col-sm-3">
            <label>Виберіть дату відправлення:</label>
            <input type="date" class="form-control" ng-model="tourStatusParams.dateStart" required>
        </div>
        <div class="col-md-2 col-sm-2">
            <button type="button" class="btn btn-primary" style="margin-top: 24px;"
                    ng-click="search()">Пошук
            </button>
        </div>
    </div>

    <div class="form-group" ng-if="isLoading">
        <br><br><br>
        <div class="">
            <div style="position: absolute; right: 50%; left: 46%">
                <img src="content/images/loading.gif">
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID рейсу</th>
                        <th>Пункт відправлення</th>
                        <th>Пункт прибуття</th>
                        <th>Час відправлення</th>
                        <th>Час прибуття</th>
                        <th>Статус</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tourStatus in tourStatuses">
                        <td>{{tourStatus.TourId}}</td>

                        <td>

                            <span>{{tourStatus.AirportFrom.Name}}</span>
                        </td>
                        <td>
                            <span>{{tourStatus.AirportTo.Name}}</span>
                        </td>
                        <td>
                            <div ng-if="tourStatus.isEditing">
                                <input type="datetime-local" placeholder="Назва"
                                       ng-model="tourStatus.DateStart" class="form-control"></div>
                            <span ng-if="!tourStatus.isEditing">{{tourStatus.dateStartView}}</span>
                        </td>
                        <td>
                            <div ng-if="tourStatus.isEditing">
                                <input type="datetime-local" placeholder="Назва"
                                       ng-model="tourStatus.DateFinish" class="form-control"></div>
                            <span ng-if="!tourStatus.isEditing">{{tourStatus.dateFinishView}}</span>
                        </td>
                        <td>
                            <div ng-if="tourStatus.isEditing">
                                <select class="form-control" ng-model="tourStatus.TourStatusType">
                                    <option ng-repeat="statusType in constantTourStatuses" value="{{statusType.KEY}}">{{statusType.VALUE}}</option>
                                </select></div>
                            <span ng-if="!tourStatus.isEditing">{{tourStatus.statusValue}}</span>
                        </td>
                        <td>
                            <div ng-if="!tourStatus.isEditing">
                                <input type="button" value="Редагувати" class="btn btn-primary btn-block btn-md"
                                       ng-click="editTourStatus(tourStatus)">
                            </div>
                            <div ng-if="tourStatus.isEditing">
                                <input type="button" value="Змінити" class="btn btn-primary btn-block btn-md"
                                       ng-click="editTourStatus(tourStatus)">

                                <input type="button" value="Скасувати" class="btn btn-primary btn-block btn-md"
                                       ng-click="cancel(tourStatus)">

                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>