<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="content/images/slide1.jpg" alt="Chania" style="width:100%;height: 400px;">
        </div>

        <div class="item">
            <img src="content/images/slide2.jpg" alt="Chania" style="width:100%;height: 400px;">
        </div>

        <div class="item">
            <img src="content/images/slide3.jpg" alt="Flower" style="width:100%;height: 400px;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <h3 style="text-align: center;">Виконати пошук</h3>
    <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-2">
        <div>
            <select class="form-control" ng-model="tourDetails.origin" ng-change="getAdventAirport(tourDetails.origin)">
                <option value="" selected>Виберіть пункт відправлення...</option>
                <option ng-repeat="airport in allAirports" value="{{airport.AirportId}}">{{airport.Name}}</option>
            </select>
        </div>
        <br>

        <div>
            <select class="form-control" ng-model="tourDetails.destination">
                <option value="" selected>Виберіть пункт призначення...</option>
                <option ng-repeat="airport in adventAirports" value="{{airport.AirportId}}">{{airport.Name}}</option>
            </select>
        </div>


        <div>
            <label>Виберіть дату відправлення</label>
            <input type="date" class="form-control" ng-model="tourDetails.date" required>
        </div>


        <label>Кількість пасажирів</label>
        <div layout-gt-xs="row">
            <md-input-container class="md-block">
                <input type="number" step="any" name="rate" ng-model="tourDetails.passengerCount" min="1"
                       style="width: 200px;"
                       max="11"/>

            </md-input-container>
        </div>


        <div>
            <label>Виберіть клас комфорту:</label>
            <md-radio-group ng-model="tourDetails.tourClass">
                <md-radio-button value="Economy" aria-checked="true">Економ</md-radio-button>
                <md-radio-button value="Bussiness">Бізнес</md-radio-button>
            </md-radio-group>
        </div>


        <button type="button" class="btn btn-primary col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-2"
                ng-click="prepareTo()">Пошук
        </button>
    </div>
</div>