<div class="form-group" ng-show="!isAuthorized">
    <ul class="nav navbar-nav">
        <li >
            <a href="#/login">Sign In</a>
        </li>
        <li>
            <a href="#/registration">Sign Up</a>
        </li>
    </ul>
</div>
<div class="form-group" ng-show="isAuthorized">
    <ul class="nav navbar-nav">
        <li>
            <a ng-click="Cabinet()" href="">Cabinet</a>
        </li>
        <li>
            <a ng-click="logout()" href="">Sign Out</a>
        </li>
    </ul>
</div>